@define-color black #282a36;
@define-color white #f8f8f2;
@define-color cyan #9aedfe;
@define-color blue #5cd6ff;

window{
	font-size: 20px;
	/* JetBrains NerdFont must be installed */
	font-family: JetBrainMono, sans-serif;
	background: @black;
	color: @white;
}

#inner-box{
	/* colors the unselected text and arrow thingie */
	color: @white;
}

#entry{
	padding: 0.25em;
}

#entry:selected{
	background: @blue;
	/* colors the arrow thingie in the selected state */
	color: @black; 
	border-radius: 26px;
}

#text:selected{
	color: @black;
}

#input{
	background: @black;
	color: @white;
	border: none;
	padding: 0.25em;
}
