@define-color black #282a36;
@define-color white #f8f8f2;
@define-color red #ff6e67;
@define-color purple #bd93f9;
@define-color cyan #3bf4fb;
@define-color green #5af78e;
@define-color yellow #f1fa8c;
@define-color blue #5cd6ff;
@define-color pink #f100c2;

* {
	border: none;
	border-radius: 0;
	font-family: JetBrainsMono, sans-serif;
	font-size: 16px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty{
	color: transparent;
	background: transparent;
}

#window {
    	margin-top: 8px;
    	padding-left: 16px;
    	padding-right: 16px;
	border-radius: 26px;
	transition: none;
    	color: @white;
	background: @black;
}


#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: @black;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: @blue;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @red;
}

#network,
#pulseaudio,
#temperature,
#upower,
#memory,
#backlight,
#clock,
#mpd,
#tray{
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: @black;
	background: @cyan;
}

#mpd {
	color: @black;
	background: @green;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #282a36;
}

#network {
	background: @purple;
}

#pulseaudio {
	background: @cyan;
}

#temperature {
	background: @green;
}

#upower.charging {
	background: @green;
}

#upower.discharging {
	background: @yellow;
}

#memory {
	background: @red;
}

#backlight {
	background: @blue;
}

#tray{
	color: @white;
	background: @black;
}

#clock {
	margin-right: 12px;
	color: @white;
	background: @black;
}
